# Variables:

* Variables are containers for storing data values

### Creating Variables:

* A variable is created the moment you first assign a value to it.

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

## Casting:

* If you want to specify the data type of a variable, this can be done with casting.

In [5]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

### Get the Type:

* You can get the data type of a variable with the type() function.

In [6]:
type(x)

str

In [7]:
type(z)

float

In [8]:
print(type(z))

<class 'float'>

## String variables can be declared either by using single or double quotes:

In [9]:
x = "John"
# is the same as
y = 'John'

In [10]:
x

'John'

In [11]:
y

'John'

## Variable names are case-sensitive.

In [12]:
# This will create two variables:
a=5
A=6

In [13]:
print(a)
print(A)

5
6

# Variable Names:

* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume)

### Rules for Python variables:

* A variable name must start with a letter or the underscore character



* A variable name cannot start with a number



* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )



* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [14]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [15]:
# Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (1350214769.py, line 2)

# Multi Words Variable Names:

*  Variable names with more than one word can be difficult to read. There are several techniques you can use to make them more readable

### 1.Camel Case: Each word, except the first, starts with a capital letter

In [16]:
myVariableName = "John"

### 2.Pascal Case: Each word starts with a capital letter

In [17]:
MyVariableName = "John"

### 3.Snake Case: Each word is separated by an underscore character

In [18]:
my_variable_name = "John"

# Python Variables - Assign Multiple Values

* Many Values to Multiple Variables

In [19]:
# Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [20]:
# One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange