# Python Collections:
There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.


* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.


* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.


* Dictionary is a collection which is ordered** and changeable. No duplicate members.

# LISTS:


* Lists are used to store multiple items in a single variable


* Lists are created using square brackets

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
thislist

['apple', 'banana', 'cherry']

# Properties of lists: 1. ordered , 2.changeable , 3.allow duplicate values

1.Ordered: When we say that lists are ordered, it means that the items have a defined order, and that order will not change.


2.Changeable: The list is changeable, meaning that we can change, add, and remove items in a list after it has been created

3.Allow duplicate values

In [3]:
# Lists allow duplicate values

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length:

In [4]:
len(thislist)

5

# Data Types in lists::

In [5]:
# List items can be of any data type:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [7]:
# A list can contain different data types

list1 = ["abc", 34, True, 40, "male"]

### What is the data type of a list?

In [ ]:
type(list1)

# Access List Items:

In [9]:
# List items are indexed and you can access them by referring to the index number

# Print the second item of the list

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [10]:
# Negative Indexing

# Negative indexing means start from the end

# -1 refers to the last item, -2 refers to the second last item etc.

In [11]:
# Print the last item of the list

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### Range of Indexes::

*  You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [12]:
# Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Check if Item Exists:

To determine if a specified item is present in a list use the " in " keyword:

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "melon" in thislist:
    print("Yes it isn the fruits list")

Yes it isn the fruits list

# Change List Items::
To change the value of a specific item, refer to the index number

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist[1]="Mango"
print(thislist)

['apple', 'Mango', 'cherry']

### Change a Range of Item Values:

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values

In [18]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [20]:
# If you insert more items than you replace, the new items will be inserted where you specified, 
# - and the remaining items will move accordingly:

In [21]:
# Change the second value by replacing it with two new values:


thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [22]:
# Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

### Insert Items
* To insert a new list item, without replacing any of the existing values, we can use the insert() method.

* The insert() method inserts an item at the specified index

In [23]:
# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Add List Items::

* To add an item to the end of the list, use the append() method:

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# Interview Question

In [28]:
a=["\nNitish","\nNaveen","\nMango"]
b=[]
for i in a:
    print(i.strip("\n"))

Nitish
Naveen
Mango

In [31]:
a=["\nNitish\n","\nNaveen\n","\nMango\n"]
b=[]
for i in a:
    b.append(i.strip("\n"))

In [32]:
b

['Nitish', 'Naveen', 'Mango']

In [33]:
# To insert a list item at a specified index, use the insert() method.

# The insert() method inserts an item at the specified index

# Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

# Extend List:
To append elements from another list to the current list, use the extend() method.

In [34]:
a=['Hi','How','are','u']
b=['I','am','fine']

a.extend(b) # adding the b-list elemenst to the a-list
a

['Hi', 'How', 'are', 'u', 'I', 'am', 'fine']

# Remove List Items::

* The remove() method removes the specified item

In [35]:
# Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

### Remove Specified Index

In [36]:
# The pop() method removes the specified index.

# Remove the second item

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [38]:
# If you do not specify the index, the pop() method removes the last item.


thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

### The del keyword can also delete the list completely.

In [39]:
# Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

### Clear the List



* The clear() method empties the list.



* The list still remains, but it has no content.

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()

In [41]:
thislist

[]

# Loop Lists::

* You can loop through the list items by using a for loop

In [42]:
# Print all items in the list, one by one

thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

### Loop Through the Index Numbers

* You can also loop through the list items by referring to their index number.

* Use the range() and len() functions to create a suitable iterable.

In [43]:
# Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [44]:
# The iterable created in the example above is [0, 1, 2].

## Using a While Loop:::

In [46]:
thislist = ["apple", "banana", "cherry"]

i=0
while (i<len(thislist)):
    print(thislist[i])
    i=i+1

apple
banana
cherry

# Sort Lists:

* List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [1]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [2]:
# Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [3]:
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [4]:
# Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

# Copy a List:

In [5]:
# Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']