# Tuple::

* A tuple is a collection which is ordered and unchangeable.


* Tuples are written with round brackets.

In [1]:
# Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Tuple items are ordered, unchangeable, and allow duplicate values.

# Ordered
* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Unchangeable
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

# Allow Duplicates
* Since tuples are indexed, they can have items with the same value:

In [2]:
# Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Access Tuple Items:


* You can access tuple items by referring to the index number, inside square brackets

In [3]:
# Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Negative Indexing


* Negative indexing means start from the end.

* -1 refers to the last item, -2 refers to the second last item etc.

In [4]:
#Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# Range of Indexes::


* You can specify a range of indexes by specifying where to start and where to end the range.

* When specifying a range, the return value will be a new tuple with the specified items.

In [5]:
# Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [6]:
#This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [7]:
#This example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

# Update Tuples::



* Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

* But there are some workarounds.

### Change Tuple Values
* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [8]:
x=('Tom','Sam','Bob')
y=list(x)

In [9]:
y

['Tom', 'Sam', 'Bob']

In [10]:
y[2]='Bob mark'

In [11]:
y

['Tom', 'Sam', 'Bob mark']

In [12]:
x=tuple(y)

In [13]:
x

('Tom', 'Sam', 'Bob mark')

# Add Items:

* 1. Convert into a list: 

* 2. Add tuple to a tuple:

In [14]:
# Convert the tuple into a list, add "orange", and convert it back into a tuple
x=('Hari','Ram','Sam')
y=list(x)

In [15]:
y

['Hari', 'Ram', 'Sam']

In [17]:
y.append('Babu')

In [18]:
y

['Hari', 'Ram', 'Sam', 'Babu']

In [19]:
x=tuple(y)

In [20]:
x

('Hari', 'Ram', 'Sam', 'Babu')

In [21]:
#Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove Items:

* Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [22]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

### you can delete the tuple completely:

In [23]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined