# Set:

* A set is a collection which is unordered, unchangeable*, and unindexed.


* Sets are written with curly brackets.

In [1]:
# Create a Set

firstset={'Apple','Mango','Cat'}

In [2]:
firstset

{'Apple', 'Cat', 'Mango'}

In [3]:
type(firstset)

set

### Unordered
* Unordered means that the items in a set do not have a defined order.

* Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.

### Duplicates Not Allowed
* Sets cannot have two items with the same value.

In [4]:
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

### Get the Length of a Set

In [5]:
len(thisset)

3

# Set Items - Data Types::


* Set items can be of any data type:

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [7]:
# A set can contain different data types:

set1 = {"abc", 34, True, 40, "male"}

# Access Set Items::

* You cannot access items in a set by referring to an index or a key.

* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [8]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
      print(x)

banana
cherry
apple

# Add Set Items::

* Once a set is created, you cannot change its items, but you can add new items.

In [10]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

### To add items from another set into the current set, use the update() method.

In [12]:
thisset = {"apple", "banana", "cherry"}
top={'Tom','Som','Ram'}

thisset.update(top)

In [13]:
thisset

{'Ram', 'Som', 'Tom', 'apple', 'banana', 'cherry'}

### To remove an item in a set, use the remove(), or the discard() method.

In [14]:
thisset

{'Ram', 'Som', 'Tom', 'apple', 'banana', 'cherry'}

In [15]:
thisset.remove('Tom')

In [16]:
thisset

{'Ram', 'Som', 'apple', 'banana', 'cherry'}

In [18]:
# Remove the last item by using the pop() method:

# Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [19]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [20]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [22]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
      print(x)

banana
cherry
apple

### Join Two Sets::

* You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [23]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

### Keep ONLY the Duplicates
* The intersection_update() method will keep only the items that are present in both sets.

In [24]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}